<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue Basics</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="styles.css" />
        <script src="https://unpkg.com/vue@next" defer></script>
        <script src="app.js" type="module" defer></script>
    </head>
    <body>
        <header>
            <h1>Monsters</h1>
        </header>
        <section id="styling">
            <input type="text" ref="textInput1" />
            <button id="button-change" @click="attack">Attack</button>
            <button id="button-change1" @click="specialAttack">
                Special attack
            </button>
            <button id="button-change2" @click="heal">Heal</button>
            <button id="button-change3" @click="skip">Skip</button>
            <div id="health-area">
                <div>
                    <h1>Monster</h1>
                    <div :style="monsterHealthStyle" class="health-bar"></div>
                </div>
                <div>
                    <h1>Human</h1>
                    <div :style="playerHealthStyle" class="health-bar"></div>
                </div>
            </div>
            <div id="message-area">
                {{message}}
                <p v-if="playerHealth <= 0">Human is dead.</p>
            </div>
            <player-details v-for="player in players"></player-details>
        </section>
    </body>
</html>
