* {
    box-sizing: border-box;
}

html {
    font-family: "Jost", sans-serif;
}

body {
    margin: 0;
}

header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem;
    padding: 1rem;
    background-color: #4fc08d;
    color: white;
    text-align: center;
}

#styling {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem;
    border-radius: 10px;
    padding: 3rem 30%;
    text-align: center;

    /* flex */
    display: grid;
    grid-row-gap: 1rem;
}

button {
    background-color: #4fc08d;
    border: 0;
    border-radius: 15px;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:active {
    background-color: #46ac7e;
}

input {
    font-size: 1.2rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 1px solid #4fc08d;
}
